@font-face {
   font-family: 'Lovelo-Black';
   font-display: swap;
   src: url('file:///Users/macbookpro/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-02-09_233216/fonts/Lovelo-Black/font.eot');
}
